{% extends "myapp/base.html" %}
{% block header-title %}
友達
{% endblock header-title %}

{% block content %}

<form action='{% url "friends" %}' method="get" class="search_form">
    {{ searchForm }}
    <button type="submit" name="friends_search">検索</button>
    <a href='{% url "friends" %}'>クリア</a>
</form>

{% for friend in friends %}
<a href="{% url 'talk_room' friend.id %}">
    <div class="friend-box">
    <div class="friend-icon">
    {% if friend.image %}
        <img src="{{friend.image.url}}" alt="">
    {% endif %}
        
    </div>
    <div class="friend-text">
        <div class="friend-text-name">{{ friend.username }}</div>
        <div class="friend-text-chat">
            <div class="friend-chat-content">{{ friend.latest_msg_talk }}</div>
            {% if friend.latest_msg_time != None %}
            <div class="friend-chat-created_at">{{ friend.latest_msg_time }}</div>
            {% endif %}
        </div>
    </div>
</div>
</a>
<hr>
{% endfor %}
{% endblock content %}





