{% extends "myapp/base.html" %}
{% block header-title %}
友達
{% endblock header-title %}

{% block content %}

<form action='{% url "friends" %}' method="get" class="search_form">
    {{ searchForm }}
    <button type="submit">検索</button>
    <a href='{% url "friends" %}'>クリア</a>
</form>

{% for dict in users_chats_list %}
<a href="{% url 'talk_room' dict.user.pk %}">
    <div class="friend-box">
    <div class="friend-icon">
    {% if dict.user.image %}
        <img src="{{dict.user.image.url}}" alt="">
    {% endif %}
        
    </div>
    <div class="friend-text">
        <div class="friend-text-name">{{ dict.user.username }}</div>
        <div class="friend-text-chat">
            <div class="friend-chat-content">{{ dict.chat.content }}</div>
            {% if dict.chat.created_at != None %}
            <div class="friend-chat-created_at">{{ dict.chat.created_at }}</div>
            {% endif %}
        </div>
    </div>
</div>
</a>
<hr>
{% endfor %}
{% endblock content %}





