{% extends "myapp/base.html" %}

{% block header-title %}
<div class="talk-header">
    <div class="talk-back-icon"><a href="{% url 'friends' %}"><i class="fa-solid fa-less-than"></i></a></div>
    <div class="talk-receivername">{{ receiver.username }}</div>
    <div class="talk-renew"><a href="{% url 'talk_room' receiver.pk %}">更新</a></div>
</div>
{% endblock header-title %}

{% block content %}
{% for chat in chats %}
<div class="talk-sender">>{{ chat.sender }}</div>

<div class="talk-detail">
    <div class="talk-content">{{ chat.content }}</div>
    <div class="talk-created_at">{{ chat.created_at |date:"n/j" }} <br> {{ chat.created_at |date:"H:i" }}</div>
</div>
<hr>
{% endfor %}

<div class="talk-empty"></div>

{% endblock content %}

{% block footer %}
<form action="{% url 'talk_room' receiver.pk%}" method='post' class="talk-form">
    {% csrf_token %}
    <input type="text" name="content">
    <button type="submit">送信</button>
</form>
{% endblock footer %}


